# General
# ------------------------------------------------------------------------------
export LOCAL_ENV=True
export PROD_ENV=False
export USE_DOCKER=no
export DJANGO_READ_DOT_ENV_FILE=False
export DJANGO_READ_DOT_ENV_DIRS=True
export IPYTHONDIR=~/.ipython

